 <div id="wrapper">
   
    <div class="header">
    	<div id="title">MeTalk Chat</div>
    	<div id="beta-bookmark">Happy Chatting!</div>
      </div>

      <div class="inner">
    	<p>Bla..bla..bla... dum..dum..dubi..dubi..dam..dam</p>

    	<%= link_to({:controller => "chat", :action => "new"}, {:class => "button"}) do %>
    		<button class="css3button">Start New Chat</button>
    	<% end %>
	
	  </div>
</div>