<!DOCTYPE html>
<html>
<head>
  <title>MeTalk Chat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    var PUSHER_KEY = '<%= Pusher.key %>'
  </script>
</head>
<body>

<%= yield %>

<footer>
  <p>Copyright &copy; RamboTechnology</p>
</footer>

</body>
</html>
